@charset "UTF-8";
@media (min-width: 1280px) {
    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50px;
        position: fixed;
        padding: 0;
        bottom: 0;
        background-color: #151B23;
        gap: 37px;
    }
}

/*
Fundo: #151B23
Scoes: #212830
Bordas: #3D444D
Cor da fonte: #D1D7E0;
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
}

body {
    margin: 0;
    padding: 0;
    background-color: #0D1117;
}

input {
    font-size: 16px;
}

input:focus {
    outline: none;
    box-shadow: inset 0 0 0px 1px #1F6FEB;
    border: 1px solid #1F6FEB;
}

main {
    width: 600px;
    margin: 0;
    margin: auto;
}

.footer-itens {
    font-size: 12px;
    color: #9198A1;
}

a:hover {
    color: #4493F8;
    text-decoration: underline;
}

h1 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 27px;
    margin-top: 18px;
}

button {
    padding-bottom: 3px;
}

label {
    font-weight: 600;
    margin-left: 124px;
}

a {
    color: #4493F8;
    text-decoration: none;
}

.github-logo {
    padding-top: 48px;
    display: block; margin: auto;
    width: 43.3px;
}

.login-input {
    background-color: #0D1117;
    border: 1px solid #3D444D;
    width: 326px;
    height: 28px;
    border-radius: 6px;
    margin-bottom: 6px;
    margin-left: 124px;
    margin-top: 5px;
    margin-bottom: 17px;
    padding: 5px 12px 5px 12px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: 0 0 0px 1000px #0D1117 inset;
    outline: 2px solid #1F6FEB;
    -webkit-text-fill-color: #FFFFFF;
    caret-color: #FFFFFF;
}

#button-sigin:hover {
    background-color: #29903B;
    transition: background-color ease-in 150ms;
    cursor: pointer;
}

#button-google:hover {
    background-color: #262C36;
    transition: background-color ease-in 150ms;
    cursor: pointer;
}

#button-sigin {
    background-color: #238636; /* Ao passar por cima -> #29903B */
    border: 1px solid #49A158;
    font-weight: 600;
    text-align: center;
    width: 352px;
    height: 40px;
    border-radius: 6px;
    margin-left: 124px;
    margin-top: -1px;
    margin-bottom: 21px;
}

.divisor {
    display: flex;
    align-items: center;
    margin: auto;
    width: 58.6%;
}

.divisor span {
    padding: 0 8px; /* ESTUDAR ISSO */
    white-space: nowrap; /* ESTUDAR ISSO */
}

.divisor::before, /* ESTUDAR ISSO */
.divisor::after { /* ESTUDAR ISSO */
    content: ''; /* Essencial para que os pseudo-elementos sejam visíveis */ /* ESTUDAR ISSO */
    flex-grow: 1; /* Faz as "linhas" crescerem para preencher o espaço */ /* ESTUDAR ISSO */
    height: 1px;
    background-color: #3D444D;
}

.header-password-container {
    width: 79.4%;
    display: flex;
    justify-content: space-between;
}

.google-icon {
    padding-top: 40px;
    display: block; margin: auto;
    width: 43.3px;
    margin-left: 88px;
    margin-top: -30px;
}

.button-google-login {
    width: 58.6%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#button-google {
    font-weight: 600;
    padding-right: 93px;
    height: 40px;
    border-radius: 6px;
    margin-top: 21px;
    background-color: #212830; /* Ao passar por cima -> #29903B */
    border: 1px solid #3D444D;
}

.create-account {
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 21px;
    margin-bottom: 18px;
}

.sigin-passkey {
    font-weight: 600;
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
}